.container {width: 620px; margin: 0 auto;}
h1 {text-align: center;}
.album{width: 620px; height: 420px; overflow: hidden;}
.images{display: flex; width: 620px; height: 420px; position: relative; transition: transform 0.3s;}
img{width: 620px; height: 420px;}
button, button:active, button:focus{
    width: 100px; height: 30px; border: none; color: #fff; background-color: teal; outline: none;
}

button:hover{background-color: turquoise;}
button:disabled{background-color: gray;}
.prev{float: left;}
.next{float: right;}
